.git
.devcontainer
.env
.env*
.history
.idea
.ipynb_checkpoints
.mypy_cache
.pytest_cache
.ruff_cache
.uv-cache
.venv
.vscode
__pycache__
*.py[cod]
*.so
build
dist
models
notebooks/data
notebooks/runs
runs
storage
coverage/
