AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=''
AWS_ENDPOINT_URL=https://storage.h2bcweb.com
AWS_DEFAULT_REGION=auto
AWS_BUCKET=aitraf
AITRAF_PUBLIC_ASSET_BUCKET=
AITRAF_STORAGE_PATH=/workspace/storage
AITRAF_API_TOKEN=

HUGGINGFACE_HUB_TOKEN=''

MLFLOW_TRACKING_URI=https://mlops.h2bcweb.com/
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=''
MLFLOW_ENABLE_SYSTEM_METRICS_LOGGING=true
AITRAF_CLASSIFICATION_PREDICTIONS_RUN_ID=
AITRAF_AQA_PREDICTIONS_RUN_ID=
